job-alert-agent/PMJobAlert.json
{
  "name": "PM Job Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        160
      ],
      "id": "44e19b43-f3bc-4a99-ba02-f82c08e4ab4d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://weworkremotely.com/categories/remote-product-jobs.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -208,
        304
      ],
      "id": "c8afa374-e844-4e68-a5df-3f1bfeaac73b",
      "name": "weworkremotely"
    },
    {
      "parameters": {
        "url": "https://remotive.com/remote-jobs/feed?job_category=product",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -208,
        -16
      ],
      "id": "5888341e-a06a-4357-8b1c-90f097a8724c",
      "name": "Remotive"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -16,
        160
      ],
      "id": "10cac505-3aec-41c8-a076-419d4c547c3c",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        192,
        176
      ],
      "id": "cb2dc83e-7200-4d4e-ba9f-ace78bb8bd9c",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        400,
        192
      ],
      "id": "e6f97d59-38ac-40f6-af03-656e127341c1",
      "name": "Remove Duplicates",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this job against the candidate resume in your system prompt.\n\nJOB:\nTitle: {{$json.title}}\nCompany: {{$json.company_name}}\nLocation: {{$json.location}}\nDescription: {{$json.contentSnippet}}\nURL: {{$json.url}}\n\nReturn ONLY this JSON, no markdown, no backticks:\n{\n  \"fit_score\": 8,\n  \"fit_reason\": \"one sentence\",\n  \"missing_keywords\": [\"keyword1\"],\n  \"resume_tweaks\": [\"suggestion1\"],\n  \"apply_priority\": \"high/medium/low\",\n  \"why_exciting\": \"one line\"\n}"
            }
          ]
        },
        "options": {
          "system": "You are an expert AI PM recruiter and career coach.  Here is the candidate's full resume:  Ishan Nagar — Product Manager  Email: ishannagar@yahoo.com  LinkedIn: linkedin.com/in/ishan-nagar  SUMMARY:  Product Manager with 11+ years building B2B SaaS and platform products in automation and data domains and Integrations but up for other areas as well. Led products from concept to launch at UiPath and Gainsight.  EXPERIENCE:  UiPath — Product Manager (Oct 2024 - Present)  - Led UiPath Data Fabric: enterprise SaaS data platform for AI agents  - Drove engaged customer usage 19% → 35% YoY  - Active customers 40% → 60% YoY  - Built AI-assisted schema generation via Autopilot (7% MoM growth)  - Leading Knowledge Graph POCs with enterprise customers  - Built integrations with 30+ external systems via REST APIs  Gainsight — Senior Product Manager (Nov 2021 - Oct 2024)  - Led integration platform → $8M revenue growth  - Built Revenue Optimization model — 200+ customers  - Gainsight-HubSpot integration → 50% adoption increase  - Improved product NPS by 12 points  SKILLS:  AI/ML: LLMs, RAG, Knowledge Graphs, AI Agents, Vector DBs, Claude API  Data: SQL, Databricks, BigQuery, Snowflake  Integration: REST APIs, iPaaS, Webhooks, Middleware, Kafka  Currently building: Python, LangChain, n8n, CrewAI, Streamlit  TARGET ROLES: AI PM, Senior PM - Data/AI/Platform/Integrations   LOCATIONS: India, UK, Singapore, ANZ, Remote Global"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        608,
        160
      ],
      "id": "a9c873b4-a5e2-4341-b70e-184429e1d045",
      "name": "Message a model",
      "alwaysOutputData": true,
      "credentials": {
        "anthropicApi": {
          "id": "yG926U3hV6E62WfP",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Remotive",
            "type": "main",
            "index": 0
          },
          {
            "node": "weworkremotely",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "weworkremotely": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Remotive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "be1d1074-5426-4eac-b836-9fd2e8812ad9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9dbd0d9e1e375a8bcb3c9b914628354595518d23bdfdabdc6263854a044b5888"
  },
  "id": "5uy91J6Di8XV9raf",
  "tags": []
}